.heading
{
    font-size: 25px;
}

.note
{
    font-size: 18px;
}

body
{
  background-size: cover;
}

#song_name
{
    height: 20px;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
}
